<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="nav-menu">
        <ul>
            <li class="logo">logo</li>
            <li class="toggle_icon"><i class="fa fa-bars"></i></>
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/#about">About</a></li>
            <li class="nav-link"><a href="{% url 'services' %}">Services</a></li>
            <li class="nav-link"><a href="/#news">Calendar & Blog</a></li>
            <li class="nav-link"><a href="/#contact">Contact</a></li>
            <li class="nav-link"><a href="{% url 'login' %}">Staff/Executive</a></li>
        </ul>
    </div>
    <h1 class="head">School Calendar</h1>
    {% if request.user.is_authenticated %}
        <a href="{% url 'addcalendar' %}">Add to Calendar</a>
    {% endif %}
    <div class="calendar event-container">
        {% for calendar in calendars %}
        <div>
            <span>
                <h3>{{calendar.date.day}}</h3>
                <p>{{calendar.date|slugify|slice:"0:4"}}</p>
            </span>
            <div>
                <h3>{{calendar.name}}</h3>
                <p>{{calendar.date}}</p>
            </div>
            {% if request.user.is_authenticated %}
                <button><a href="{% url 'delete-calendar' calendar.id %}">Delete</a></button>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/toggle.js' %}">
    </script>
</body>
</html>